@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.navContainer {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 5px gray;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.navContainer div {
    align-self: center;
}

.navContainer ul {
    list-style-type: none;
    display: flex;
}

.navContainer li {
    padding: 20px;
}

.navContainer ul a {
    font-weight: bold;
    font-size: 14px;
}

.navContainer ul a:hover {
    border-bottom: 2px solid;
}

li:last-child a {
    text-transform: uppercase;
    background-color: #bfd732;
    border-radius: 30px;
    padding: 10px 30px;
    transition: .3s;
}

li:last-child a:hover {
    border-bottom: none;
    background-color: #8cc63f;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 58px;
}

.container > div {
    color: white;
    position: absolute;
    width: 70%;
    font-weight: bold;
}

.container div:first-child {
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
}

.container > div > :nth-child(2) {
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
    font-weight: normal;
}

.container > div > :nth-child(3) {
    text-align: center;
    margin: 40px 0;
    font-size: 14px;
}

.container > div > :nth-child(3) > a{
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 25px;
}

.container > div > :nth-child(3) > a:hover{
    color: black;
    background-color: white;
}

.secondContainer {
    height: 100vh;
    background-image: url(images/three-people.png);
    display: flex;
}

.secondContainer > div {
    width: 47.5%;
    font-weight: bold;
    align-self: center;
    margin-left: 40px;
    line-height: 1.5;
}

.secondContainer > div > :first-child {
    font-size: 50px;
    margin: 30px 0;
    
}

.secondContainer > div > :nth-child(2) {
    font-size: 22px;
    margin: 30px 0;
    font-weight: normal;
}

.secondContainer > div > :nth-child(3) {
    font-size: 14px;
    margin: 40px 0;
}

.secondContainer > div > :nth-child(3) > a{
    padding: 10px 40px;
    border: 2px solid black;
    border-radius: 25px;
}

.secondContainer > div > :nth-child(3) > a:hover{
    color: white;
    background-color: black;
}